/* styles.css */
.table-style {
    background-color: gray;
    border: 2px solid yellow;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.td-style {
    border: 2px solid white;
    text-align: center;
}
