:root {
    --body-bg: aliceblue;
    --kb-bg:  rgb(212 235 255);
    --clr: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    text-decoration: none;
    line-height: 1.3rem;
    font-family: sans-serif;
    color: #333;
}
html,
body {
    background: aliceblue;
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    display: block;
    max-width: 100%;
}

/* * Utilities classes */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 2rem;
}

.keyb {
    background: var(--kb-bg);
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.row {
    gap: 2rem;
    padding: 1rem;
    font-size: 2rem;
}
.skey {
    background: red;
    flex-grow: 1;
}